<div class="modal-overlay">

    <div class="modal">

        <div class="modal-content">
            <img src="" alt="">
        </div>
        
        <div class="modal-info">
            <p>Trigo bacon burger</p>
            <p class="author">por Jorge Relato</p>
        </div>

        <div class="modal-close">
            <a href="">Fechar</a>
            <a href="" id="open">Ver</a>
        </div>

    </div>   
</div>
