<div id="images">
    <div class="image">Imagem da receita</div>
    <div>
      <input 
      type="text" 
      name="image" 
      >
    </div>
  </div>

  <div id="ingedients">
    <div class="ingredient">Ingredientes</div>
    <div class="input">
      <input 
      type="text" 
      name="ingredient" 
      >
    </div>
    <div class="links">
      <a href="#">Adicionar novo ingrediente</a>
    </div>
  </div>

  <div id="preparations">
    <div class="preparation">Modo de preparo</div>
    <div class="input">
      <input 
      type="text" 
      name="image" 
      >
    </div>
    <div class="links">
      <a href="#">Adicionar novo passo</a>
    </div>
    
  </div>

  <div id="informations">
    <div class="information">Imagem da receita</div>
    <div class="textarea">
     <textarea 
     name="textarea"
     >
     </textarea>
    </div>
  </div>