{% extends "layouts/admin.njk" %}
 
 {%  block head %}
    <link rel="stylesheet" href="/styles/admin/index.css">
 {% endblock head %}


 {% block content %}
 
     <div class="title">
        <h2>Gerenciar Receitas</h2>
     </div>

     <section class="cards">
        <div class="item">
            <div class="image">
                <img src="/assets/burger.png" alt="">
            </div>
            <div class="info">
                <p>Trigo bacon burger</p>
                <p>por Jorge Relato</p>
                <a href="">Visualizar</a>
            </div>
        </div>

        <div class="item">
            <div class="image">
                <img src="/assets/burger.png" alt="">
            </div>
            <div class="info">
                <p>Trigo bacon burger</p>
                <p>por Jorge Relato</p>
                <a href="">Visualizar</a>
            </div>
        </div>

        <div class="item">
            <div class="image">
                <img src="/assets/burger.png" alt="">
            </div>
            <div class="info">
                <p>Trigo bacon burger</p>
                <p>por Jorge Relato</p>
                <a href="">Visualizar</a>
            </div>
        </div>

        <div class="item">
            <div class="image">
                <img src="/assets/burger.png" alt="">
            </div>
            <div class="info">
                <p>Trigo bacon burger</p>
                <p>por Jorge Relato</p>
                <a href="">Visualizar</a>
            </div>
        </div>

        <div class="item">
            <div class="image">
                <img src="/assets/burger.png" alt="">
            </div>
            <div class="info">
                <p>Trigo bacon burger</p>
                <p>por Jorge Relato</p>
                <a href="">Visualizar</a>
            </div>
        </div>

        <div class="item">
            <div class="image">
                <img src="/assets/burger.png" alt="">
            </div>
            <div class="info">
                <p>Trigo bacon burger</p>
                <p>por Jorge Relato</p>
                <a href="">Visualizar</a>
            </div>
        </div>
     </section>

 {% endblock content %}