<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/styles/admin/main.css">
     <title>Foodfy</title>
     {% block head %}
          
     {% endblock head %}
</head>
<body>
     <header>
          <div class="image-container">
               <img src="/assets/logoLight.png" alt="logo">
          </div>
     <header>

     {% block content %}
          
     {% endblock content %}

</body>
</html>